free-foil-sprite/src/Language/Sprite/Syntax/**/* linguist-generated=true
free-foil-sprite/src/Language/Sprite/Syntax/Front/Abs.hs linguist-generated=false
free-foil-sprite/src/Language/Sprite/Syntax/Inner/Abs.hs linguist-generated=false
